<section id="newly">
    <div class="container">

        <div class="row justify-content-center">
            <h1 class="titre">Nouvellement ajouté</h1>
        </div>
        <hr class="hrr">

        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card shadow-lg">
                                       
                                        <div class="card-body">
                                            <div class="flex">
                                                <i class="fas fa-map-marker-alt pr"></i>
                                                <p class="card-text" style="color: #4cb3e2;">Ville Départ :</p><p>Youssoufia Le 30-08-2021 à 06:30</p>
                                            </div>
                                            <div class="flex">
                                                <i class="fas fa-map-marker-alt pr"></i>
                                                <p class="card-text" style="color: #4cb3e2;">Ville D'Arrivé :</p><p>Youssoufia Le 30-08-2021 à 06:30</p>
                                            </div>
                                            <hr>
                                            <div class="flex">
                                                <p class="card-text">Fatima-Ezzahra zahid</p>
                                                <p style="color: #4cb3e2;" class="prix">50 Dh</p>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




