<section id="about">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="titre">A propos</h1>
        </div>
        <hr class="hrr">
        <div class="row">
            <div class="col-md-6"><img class="img-fluid" src="assets/images/63607-car-rush.gif"></div>
            <div class="col-md-6 pd">
                Résultat de recherche d'images pour "Qu'est-ce que ça veut dire covoiturage ?"
                Comment ça marche ? Il y a deux types de membres dans le monde du covoiturage : le conducteur et le passager. D'un côté, il y a le conducteur qui voyage seul ou accompagné qui a des places de libre. De l'autre, il y a le passager, qui a besoin de se rendre d'une ville à une autre.
                <br>
                Résultat de recherche d'images L'un des premiers avantages à faire du covoiturage est que le coût du trajet effectué est partagé. Chaque personne occupant une place de la voiture participe aux dépenses. Pour le conducteur, c'est une réduction des frais d'essence et d'entretien. Quant aux passagers, leur budget transport diminue
            </div>
        </div>
    </div>
   

</section>