<header class="masthead" id="header">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="title  wh">Le covoiturage en toute sérénité</h1>
                <section class="search-sec">
                    <div class="container">
                        <form action="#" method="post" novalidate="novalidate">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-12 pr-3 resp">
                                            <input type="text" name="city" list="cityname"
                                                class="form-control search-slt" placeholder="Ville Départ">
                                            <datalist id="cityname">
                                                <option value=""></option>
                                              
                                            </datalist>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 pr-3 resp">
                                            <input type="text" name="city" list="citynameArr"
                                            class="form-control search-slt" placeholder="ville d'Arrivé">
                                            <datalist id="citynameArr">
                                                 <option value=""></option>
                                          
                                            </datalist>   
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 pr-3 resp">
                                            <button type="button" class="btn  wrn-btn">Rchercher</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>

            </div>
        </div>
    </div>


</header>