<div class="content">
    <div class="container-fluid">
        <div class="page-title">
            <h3>Cont</h3>
        </div>
        <div class="row">
         

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">Add Count</div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <form class="form-horizontal"  method="POST">
                            <div class="form-group row">
                                <label class="col-sm-2">Happy Clients</label>
                                <div class="col-sm-10">
                                    <input type="text" name="client" class="form-control">
                                </div>
                            </div>
                            <div class="line"></div><br>
                            <div class="form-group row">
                                <label class="col-sm-2">Projects</label>
                                <div class="col-sm-10">
                                    <input type="text" name="project" class="form-control">
                                </div>
                            </div>
                            <div class="line"></div><br>
                            <div class="form-group row">
                                <label class="col-sm-2">Hours Of Support</label>
                                <div class="col-sm-10">
                                    <input type="text" name="hours" class="form-control">
                                </div>
                            </div>
                            <div class="line"></div><br>
                            <div class="form-group row">
                                <label class="col-sm-2">Hard Workers</label>
                                <div class="col-sm-10">
                                    <input type="text" name="hard" class="form-control">
                                </div>
                            </div>
                            
                              
                                    
                     
                            <div class="line"></div><br>
                            <div class="form-group row">
                                <div class="col-sm-4 offset-sm-2">
                                    <button type="submit" class="btn btn-secondary mb-2"><i class="fas fa-times"></i> Cancel</button>
                                    <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-save"></i> Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>